body {
    min-width: 300px;
    background-color: var(--background);
    font-family: Arial;
    color: var(--text-form);
}

.palette {
    padding: 15px;
    border-radius: 50%;
    background-color: var(--form);
    color: var(--text-form);
    cursor: pointer;
}

#palette-container {
    display: grid;
    background-color: var(--form);
    border-radius: 15px;
    position: fixed;
    top: 70px;
    left: -50px;
    transition: left 350ms;
}

#palette-container.show {
    left: 18px;
}

.theme-choice {
    border: 0;
    border-radius: 50%;
    margin: 8px;
    padding: 8px;
    background: var(--background);
    cursor: pointer;
}

.content {
    min-width: 300px;
    width: 400px;
    margin: auto;
    background-color: var(--form);
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
}

.title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

.field {
    display: flex;
    flex-wrap: wrap;
    margin: 20px 0;
}

.field label, .field textarea, .field input {
    width: 100%;
}


.field--inline {
    display: flex;
}

.emoji {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 385px;
    position: relative;
    bottom: 27px;
}

.emoji-button {
    cursor: pointer;
    left: 370px;
}

.emoji-picker {
    display: none;
    top: 30px;
    right: -15px;
    width: 250px;
    height: 250px;
    --num-columns: 5;
    --category-emoji-size: 1.125rem;
}

.emoji-picker.show {
    display: flex;
    position: absolute;
}


.notice {
    display: none;
}

.notice.show {
    display: flex;
}

input, textarea {
    font-family: Arial;
    font-size: 14px;
    color: var(--text-input);
    background-color: var(--background-input);
    border: 0;
    border-radius: 10px;
    padding: 12px;    
    resize: vertical;
}

#button-generate, #button-back {
    height: 50px;
    font-size: 16px;
    font-weight: bold;
    color: var(--text-form);
    background-color: var(--buttons);
    cursor: pointer;
    border: 0;
    border-radius: 10px;
}

#button-generate {
    width: 100%;
}

#button-copy {
    background-color: transparent;
    cursor: pointer;
    border: 0;
    margin: 10px;
}


#form, #result {
    width: 100%;
    margin-top: 20px;
}

#output {
    background-color: var(--background-input);
    color: var(--text-input);
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
}

.footer {
    display: flex;
    justify-content: center;
}

a {
    color: var(--text-form);
}

#copied-message {
    padding: 10px;
    background-color: var(--copy-color);
    color: var(--text-form);
    border-radius: 10px;
    position: fixed;
    bottom: -50px;
    transition: bottom 350ms;
}

#copied-message.show {
    bottom: 40px;
}