body {
    background-color: var(--background);
    min-width: 300px;
    font-family: Arial;
    color: var(--text-form);
}

#copied-message {
    width: fit-content;
    padding: 10px;
    background-color: var(--copy-color);
    color: var(--text-form);
    border-radius: 10px;
    margin: auto;
    position: fixed;
    bottom: -50px;
    transition: bottom 350ms;
}

#copied-message.show {
    bottom: 40px;
}

.content {
    min-width: 300px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
    margin-top: 20px;
    background-color: var(--form);
    padding: 20px;
    border-radius: 10px;
}

.title {
    font-size: 26px;
    font-weight: bold;
    text-align: center;
}

#button-generate, #button-copy, #button-back {
    font-size: 16px;
    font-weight: bold;
    color: var(--text-form);
    background-color: var(--buttons);
    cursor: pointer;
    height: 50px;
    border: 0;
    border-radius: 10px;
}

#form, #button-generate {
    width: 100%;
}

.field {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
}

input, textarea {
    font-family: Arial;
    font-size: 14px;
    color: var(--text-input);
    background-color: var(--background-input);
    border: 0;
    border-radius: 10px;
    padding: 12px;    
    resize: vertical;
}

#result {
    display: none;
    width: 400px;
    margin: 20px 0;
}

#output {
    background-color: var(--background-input);
    color: var(--text-input);
    padding: 10px;
    margin-top: 10px;
    border-radius: 10px;
}

.controls {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.author {
    text-align: center;
}

a {
    color: var(--text-form);
}